@font-face {
    font-family: 'RobotoMono';
    src: url(../fonts/roboto-mono/RobotoMono-VariableFont_wght.ttf);

}


.app-nav-bar {
    background-color: #2b2b2b;
    color: #fff;
    width:100vw;
    height:40px;
    position:fixed;
    top: 0;
    padding-left: 8px;
    display: flex;
    flex-wrap:wrap;
    align-items:center;
}

.app-nav-bar button {
    background-color: #2b2b2b;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px;
    margin: 0px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.app-nav-bar button:hover {
    background-color: #4b4b4b;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: visible;
    display: flex;
    flex-direction: column;
    margin: 0px;
    background-color:#557;
}

.app-over-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
    padding-top: 40px;
    padding-bottom: 24px;
}


.tab-content { 
    display: none;
}

.tab-content.active { 
    display: block;
}


.dummy-footer {
    height: 24px;
    width: 100%;
    background-color: #2b2b2b;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}