<div>
    <h2>Image Input and Processing</h2>
    <div style="display:flex;">
        <button onclick="openDirectory()">Open a directory (python edition)</button>
        <div id="open-directory-container"></div>
    </div>
</div>
<style>
    #open-directory-container {
        width: 60vw;
        height: 32px;
        color: #fff;
        display:flex;
        align-items: center;
        background-color: #333;
        border: 1px solid #ccc;
        border-radius: 2px;
        padding:4px;
        margin-left:5vw;
        font-family:"RobotoMono", monospace;
    }
</style>
<script>
</script>