<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../static/css/index_style.css">
</head>
<body>

    <div class="app-over-wrapper">
        <div class='app-nav-bar'>
            <button onclick="loadTab('image_input_processing')">Image Input and Processing</button>
            <button onclick="loadTab('extras')">Extras</button>
        </div>
        <div class="app-tab-container">
            <div id="tab-content" class="tab-content">
            </div>
        </div>
        <div class="dummy-footer"></div>
    </div>
<script src="../static/js/index_script.js"></script>
</body>
</html>