<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="../static/css/index-style.css">
</head>
<body>
    <div class="app-over-wrapper">
        <div class='app-nav-bar'>This div element can be used to moved or drag your window like a native OS window</div>
        <div class="app-tab-container">
            <div class="app-tab active">Home</div>
            <div class="app-tab">About</div>
            <div class="app-tab">Contact</div>
        </div>
        <div class="dummy-footer"></div>
    </div>
</body>
</html>